body {
    /* background-color: rgb(102, 226, 102); */
    }
    .covidData {
    /* background-color: green; */
    width: 30%;
    /* margin: auto; */
    /* margin-top: 15px; */
    border-radius: 6px;
    padding: 10px;
    }
    
    /* input stylings */
    
    .covidData__form {
    padding: 10px;
    margin: 20px;
    }
    .covidData__input input {
    width: 170px;
    height: 50px;
    text-align: center;
    font-size: 15px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    }
    .covidData__input button {
    width: 80px;
    height: 40px;
    margin-top: 10px;
    background-color: black;
    color: white;
    font-size: 12px;
    border-radius: 10px;
    border: none;
    /* box-shadow: 5px 5px 5px rgb(71, 67, 67); */
    cursor: pointer;
    }
    
    /* detail stylings */
    
    .covidData__country__info {
    font-size: 12px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    width: 170px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding-left: 10px;
    background-color: white;
    margin-top: 20px;
    padding: 2px;
    /* text-shadow: 1px 1px 1px rgb(71, 67, 67);
    box-shadow: 5px 5px 5px rgb(71, 67, 67); */
    }
    